.App {
  text-align: center;
}
body {
  background-image: url('https://bendyworks.com/assets/images/blog/2018-12-22-a-month-of-flutter-user-registration-form-f8d86ed8.jpg');
  background-color: #cccccc;
 }
